fastapi[standart]
uvicorn
sqlalchemy
alembic
asyncpg
python-dotenv
bcrypt==4.0.1
passlib==1.7.4
redis
pydantic[email]
python-jose[cryptography]
jose
langchain
langchain-groq
httpx[http2]
google-auth
langchain_chroma
langchain_huggingface
langchain_text_splitters
sentence_transformers
redis
apscheduler
pandas
python-multipart
scikit-learn
